# Extract

In [1]:
import bs4
import requests
import pandas as pd

In [2]:
responses = []
for i in range(1, 10):
    response = requests.get("https://www.buscalibre.com.co/libros/categoria-novela/74?page={}".format(i))
    responses.append(response)

In [3]:
soups = []
for i in range(len(responses)):
    soup = bs4.BeautifulSoup(responses[i].text, "html.parser")
    soups.append(soup)

In [4]:
len(soups)

9

In [5]:
titles_book = []
for i in range(len(soups)):
    for j in range(1, 95):
        titles = soups[i].select("div.producto.dcto{}.testgrillameta div.nombre".format(j))
        for title in titles:
            titles_book.append(title.string)

In [6]:
len(titles_book)

415

In [7]:
prices_book = []
for i in range(len(soups)):
    for j in range(1, 95):
        prices = soups[i].select("div.producto.dcto{}.testgrillameta div.precioAhora".format(j))
        for price_1 in prices:
            prices_book.append(price_1.text)

In [8]:
len(prices_book)

415

# Transform

In [26]:
idx = []
for i in range(1, len(prices_book)+1):
    idx.append(i)

In [27]:
df = pd.DataFrame({"name":titles_book, "price":prices_book, "idx":idx})

In [28]:
df[0:5]

   idx                                               name     price
0    1                      El Temor de un Hombre Sabio    $ 47.000
1    2                          El Pozo de la Ascension    $ 63.190
2    3                                           Origen    $ 96.381
3    4   Santa María De Iquique. La Muerte de la Repúb...  $ 82.000
4    5                             UNA COLUMNA DE FUEGO    $ 54.048

In [29]:
df["price"] = (df["price"].apply(lambda name: name.split("$")[1])
               .map(lambda point:point.split("."))
               .map(lambda unit:''.join(unit)).astype(int))

In [30]:
df[0:5]

   idx                                               name  price
0    1                      El Temor de un Hombre Sabio    47000
1    2                          El Pozo de la Ascension    63190
2    3                                           Origen    96381
3    4   Santa María De Iquique. La Muerte de la Repúb...  82000
4    5                             UNA COLUMNA DE FUEGO    54048